# Lab 2

After Lab 1, you should be able to import data, be able to determine a few quick facts about that data, and articulate the purpose of unit testing. Today we are going work a bit more with `pandas` for selecting parts of data and start working with `matplotlib` to make images.  

This lab's goals can be summarized with this image:

### Before starting...

A few questions before we begin:
* Do you need to `pull` anything? 
* Do you need to copy anything into a folder? 
* Are you in the right `env`ironment? 

<sub>These reminders will smaller and smaller as we get used to the flow of this course.</sub>

In [2]:
import numpy as np 
import pandas as pd
import os

## Selecting subsets with `pandas`

In Lab 1, we learned about data frame structure within `pandas` and for class today, you read about some of the functionalities of `pandas`. Today, we will practice various kinds of slicing and how we can create new dataframes from previous ones.    

Let us start by importing the Forest Fires dataset from Lab 0 and reminding ourselves of what the first 5 rows look like. Before beginning, add the `forestfire` file to the directory that you are using to work on Lab 1.

In [3]:
ffire = pd.read_csv("forestfires.csv", sep=',')
ffire.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

Here we have a small snapshot of our data. Before moving on, what do you think the **bold** means? (Make a few notes below)

In `pandas` we can select slices of our data either by row or by column using either the names or counters. 

### Selecting by Row

The two most common ways to access rows are by using `.loc` and `.iloc`, which stand for [_location_](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) and [_index location_](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html), respectively. 

In this data, the names of the row indices are the same as the counter. So we will find that we can access each row in _nearly_ identical ways. Note that this is quite _**unusual**_. 

The general format for `loc` and `iloc` is row information first, followed by column selections (if desired). Try the below examples and note 1) how they are different and 2) what the arguments are:

In [11]:
ffire.loc[2]

X            7
Y            4
month      oct
day        sat
FFMC      90.6
DMC       43.7
DC       686.9
ISI        6.7
temp      14.6
RH          33
wind       1.3
rain         0
area         0
Name: 2, dtype: object

In [12]:
ffire.loc[2,'month']

'oct'

In [13]:
ffire.loc[[0,2,5]]

   X  Y month  day  FFMC   DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
5  8  6   aug  sun  92.3  85.3  488.0  14.7  22.2  29   5.4   0.0   0.0

In [ ]:
ffire.loc[0:5,'month']

In [ ]:
ffire.loc[0:5,['month', 'wind', 'day']]

In [22]:
ffire.loc[[0,2,5],['month', 'wind', 'day']]

  month  wind  day
0   mar   6.7  fri
2   oct   1.3  sat
5   aug   5.4  sun

**Note**!!!! `.loc` does not slice in the usual manner for `python`. Notice that the last index is _included_. This is very unusual.

So far we have just used `.loc`. Repeat all the above examples using `.iloc`; do they all work?

In [ ]:
# Code Block for you!

### Selecting by Column

- average by number, and counts for the categorical data

## Getting started with `matplotlib`

For a lot of our visualizations

### First plot

### colors

#### Resources consulted to build this lab:

1. Wikipedia about [hidden files](https://en.wikipedia.org/wiki/Hidden_file_and_hidden_directory)
2. [Ignoring Files and Directories in Git with .gitignore](https://www.jamescoyle.net/how-to/1094-ignoring-files-in-git-with-gitignore)
3. Stackoverflow question about ipynb checkpoints: [How to git ignore ipython notebook checkpoints anywhere in repository](https://stackoverflow.com/questions/35916658/how-to-git-ignore-ipython-notebook-checkpoints-anywhere-in-repository)