# Lab 2

After Lab 1, you should be able to import data, be able to determine a few quick facts about that data, and articulate the purpose of unit testing. Today we are going work a bit more with `pandas` for selecting parts of data and start working with `matplotlib` to make images.  

This lab's goals can be summarized with this image:

### Before starting...

A few questions before we begin:
* Do you need to `pull` anything? 
* Do you need to copy anything into a folder? 
* Are you in the right `env`ironment? 

<sub>These reminders will smaller and smaller as we get used to the flow of this course.</sub>

In [1]:
import numpy as np 
import pandas as pd

## Selecting subsets with `pandas`

In Lab 1, we learned about data frame structure within `pandas` and for class today, you read about some of the functionalities of `pandas`. Today, we will practice various kinds of slicing and how we can create new dataframes from previous ones.    

Let us start by importing the Forest Fires dataset from Lab 0 and reminding ourselves of what the first 5 rows look like

In [6]:
ffire = pd.read_csv("../Data/forestfires.csv", sep=',')
ffire.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

- what does the bold mean?
- how to select column-wise
- how to select row-wise
- average by number, and counts for the categorical data

## Getting started with `matplotlib`

### First plot

### colors

#### Resources consulted to build this lab:

1. Wikipedia about [hidden files](https://en.wikipedia.org/wiki/Hidden_file_and_hidden_directory)
2. [Ignoring Files and Directories in Git with .gitignore](https://www.jamescoyle.net/how-to/1094-ignoring-files-in-git-with-gitignore)
3. Stackoverflow question about ipynb checkpoints: [How to git ignore ipython notebook checkpoints anywhere in repository](https://stackoverflow.com/questions/35916658/how-to-git-ignore-ipython-notebook-checkpoints-anywhere-in-repository)